/* ========= Start Global Rules =========*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-padding-block-start: var(--spacer-lg);
}

body {
  /* hyphens: auto; ?? */
  overflow-x: hidden;
  font-family: var(--body-font);
  line-height: var(--line-height);
  background-color: var(--bg-clr);
  accent-color: var(--primary-clr);
}

body::-webkit-scrollbar {
  inline-size: 5px;
  block-size: 5px;
}

body::-webkit-scrollbar-track {
  background-color: lightblue;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: var(--border-radius-lg);
}

body::-webkit-scrollbar-corner {
  background-color: lightblue;
  border-radius: var(--border-radius-lg);
}

.container {
  margin-inline: auto;
  padding-inline: var(--spacer-md);
}
/* === tablet screens ===  */
@media (min-width: 768px) {
  .container {
    inline-size: 750px;
  }
}

/* === laptop screens ===  */
@media (min-width: 992px) {
  .container {
    inline-size: 970px;
  }
}

/* === desktop screens === */
@media (min-width: 1200px) {
  .container {
    inline-size: 1170px;
  }
}

/* === tv screens === */
@media (min-width: 1400px) {
  .container {
    inline-size: 1370px;
  }
}

section {
  padding-block: 3.125rem;
}

video {
  block-size: auto;
  max-inline-size: 100%;
}

img {
  block-size: auto;
  max-block-size: 100%;
  max-inline-size: 100%;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin-block-start: 0;
  text-transform: capitalize;
  font-family: var(--title-font);
}

h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  margin-block-end: var(--spacer-sm);
}

h2 {
  font-size: clamp(2rem, 5vw, 4rem);
  margin-block-end: var(--spacer-sm);
}
h3 {
  font-size: clamp(1.5rem, 3vw, 3rem);
  margin-block-end: var(--spacer-sm);
}

a,
a:visited,
a:active {
  text-decoration: none;
}

input {
  caret-color: var(--primary-clr);
}

[aria-hidden="true"] {
  position: absolute;
  block-size: 0;
  inline-size: 0;
  overflow: hidden;
  visibility: hidden;
}
/* ========= End Global Rules ===========*/
/* ========== Start Variables ===========*/

:root {
  /* === Font's Families  === */
  --body-font: "Cairo", sans-serif;
  --title-font: "Playfair Display", serif;

  /* === colors === */
  --primary-clr: #ed7331;
  --secondary-clr: #f5c056;
  --info-clr: #241c3b;

  --bg-clr: #fff;
  --fg-clr: #06a093;
  --fg2-clr: #f9f4f1;

  /* === Box Shadows === */
  --box-shadow: 0px 0px 20px var(--info-clr);
  --box-shadow-light: 20px 20px 50px #241c3b59,
    -30px -30px 50px hsl(26, 37%, 96%, 0.15);

  /* === Line Height === */
  --line-height: 1.5;
  --line-height-lg: 2;

  /* === Transition === */
  --transition: 0.2s;

  /* === Border Radius === */
  --border-radius: 5px;
  --border-radius-lg: 10px;

  /* === Spacers === */
  --spacer-sm: 0.625rem;
  --spacer-md: 1.25rem;
  --spacer-lg: 3.125rem;
  --spacer-xlg: 6.25rem;
}

/* =========== End Variables ============*/
/* ============ Start themes ============*/
body:has(header [type='checkbox']:checked) {
  --info-clr: #d0ddf1;

  --bg-clr: #16191e;
  --fg2-clr: #292e37;

  --box-shadow: 0px 0px 20px var(--fg2-clr);
}
/* =========== End themes ===============*/

/* ======= Start common Styles ========= */

section p,
section h2 {
  color: var(--info-clr);
  max-width: 35rem;
}
.hero .info span,
.lesson__options span,
.two__options span {
  font-size: clamp(0.8rem, 5vw, 1.2rem);
  text-transform: uppercase;
  color: var(--primary-clr);
}
.arrow {
  position: absolute;
  top: -5rem;
  z-index: -1;
  width: clamp(100px,-115.384617px + 61.538462vw,500px);
}
.method-arrow {
  left: 0;
  fill: var(--secondary-clr)
}
.options-arrow {
  right:0;
  left: inherit;
  transform: scaleX(-1);
  fill: var(--primary-clr)
}

/* ========= End common Styles ========= */
/* =========== Start Header ===========  */

header {
  padding-block: var(--spacer-md);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: var(--spacer-sm);
}
header .container a svg {
  width: clamp(3rem, 8vw, 4rem);
  height: clamp(3rem, 8vh, 7rem);
}
header .container a > span {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 600;
  line-height: 1.2;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  color: var(--info-clr);
}
header .container a span > span {
  display: block;
  font-weight: 500;
  font-family: "Cairo", sans-serif;
  font-size: clamp(1.2rem, 3vw, 1.7rem);
  text-transform: uppercase;
  letter-spacing: clamp(2px, 3px, 5px);
  color: var(--fg-clr);
}
header .container input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--bg-clr);
  cursor: pointer;
  background-color: var(--info-clr);
}
header .container input[type="checkbox"]:checked {
  border: 2px solid var(--secondary-clr);
  background-color: var(--fg-clr);
}
header .container input[type="checkbox"]:checked::before {
  content: "\f185";
  color: var(--secondary-clr);
}
header .container input[type="checkbox"]::before {
  content: "\f186";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  color: var(--bg-clr);
}
/* =========== End Header =============  */
/* ======= Start Hero Section =========  */
.hero .container {
  display: grid;
  gap: var(--spacer-lg);
}
@media (min-width: 768px) {
  .hero .container {
    grid-auto-flow: column;
    grid-template-columns: 1fr 40%;
  }
}
.hero .info {
  padding-block-start: var(--spacer-xlg);
}
.hero .info h1 {
  text-transform: capitalize;
  max-inline-size: 30rem;
  color: var(--info-clr);
}
.hero .info a {
  display: block;
  width: fit-content;
  padding:  var(--spacer-sm)  var(--spacer-md);
  margin-block-start: var(--spacer-md);
  text-transform: capitalize;
  color: #d0ddf1;
  transition: all var(--transition) cubic-bezier(1, -0.04, 0, 1.21);
  box-shadow: 4px 4px 0 var(--info-clr);
  background-color: var(--fg-clr);
}
.hero .info a:is(:hover, :focus) {
  transform: translate(4px, 4px);
  box-shadow: none;
}
.hero .imgs__box {
  position: relative;
  margin-left: auto;
}
.hero .imgs__box img:first-child {
  display: none;
  position: absolute;
  top: -26rem;
  right: -26rem;
  min-inline-size: 65rem;
  max-block-size: unset;
}
@media (min-width: 768px) {
  .hero .imgs__box img:first-child {
    display: block;
    z-index: -1;
  }
}
.hero .imgs__box img:nth-of-type(2) {
  border-radius: var(--border-radius);
  width: clamp(12rem, 50vw, 22rem);
  box-shadow: var(--box-shadow-light);
}
.hero .imgs__box a {
  display: flex;
  align-items: center;
  column-gap: var(--spacer-sm);
  position: absolute;
  left: -5rem;
  bottom: 1rem;
  width: clamp(16rem, 40vw, 25rem);
  font-weight: 600;
  padding: var(--spacer-sm) var(--spacer-md);
  text-transform: capitalize;
  color: var(--info-clr);
  background-color: var(--fg2-clr);
  box-shadow: 4px 4px 0 var(--info-clr);
  transition: all var(--transition) cubic-bezier(1, -0.04, 0, 1.21);
}
.hero .imgs__box a:is(:hover, :focus) {
  transform: translate(4px, 4px);
  box-shadow: none;
}
.hero .imgs__box a span span {
  color: var(--fg-clr);
}
/* ======== End Hero Section ==========  */
/* == Start Lesson Options Section ====  */
.lesson__options {
  position: relative;
  text-align: center;
  counter-reset: lesson__options;
}
.lesson__options h2,
.lesson__options p {
  margin-inline: auto;
}
.lesson__options span {
  color: var(--secondary-clr);
}
.lesson__options h3 {
  color: var(--info-clr);
}
.lesson__options ul {
  display: grid;
  gap: var(--spacer-lg);
  justify-content: center;
  margin-block-start: var(--spacer-lg);
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}
.lesson__options ul li {
  position: relative;
  padding: 4rem 2rem 2rem;
  background-color: var(--fg2-clr);
  border-radius: var(--border-radius-lg);
  border-block-end: 5px solid var(--secondary-clr);
}
.lesson__options ul li::before {
  content: counter(lesson__options);
  counter-increment: lesson__options;
  position: absolute;
  top: -2rem;
  left: 50%;
  margin-left: -2rem;
  inline-size: 4rem;
  block-size: 4rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  line-height: 4rem;
  border-radius: 50%;
  color: var(--secondary-clr);
  background-color: inherit;
  border: 5px solid var(--bg-clr);
}
/* === End Lesson Options Section =====  */
/* = Start Options For Everyone Section = */
.two__options {
  position: relative;
  padding-block-end: 8rem;
}
.two__options .method-arrow {
  width: clamp(130px,-123.076922px + 72.307692vw,600px);
  top: -6rem;
  right: -1rem;
  left: inherit;
  transform: scaleX(-1);
}
.two__options ul {
  display: grid;
  gap: var(--spacer-lg);
  justify-content: center;
  margin-block-start: var(--spacer-lg);
  grid-template-columns: repeat(auto-fill, minmax(20rem, 25rem));
}
.two__options ul li {
  position: relative;
  text-align: center;
  padding: 4rem 2rem 2rem;
  background-color: var(--fg2-clr);
  border-radius: var(--border-radius-lg);
  border-block-end: 5px solid var(--primary-clr);
}
.two__options ul li h3 {
  position: absolute;
  top: -2rem;
  left: 50%;
  min-inline-size: 18rem;
  transform: translateX(-50%);
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: var(--border-radius-lg);
  color: var(--primary-clr);
  background-color: inherit;
  border: 8px solid var(--bg-clr);
}
/* = End Options For Everyone Section =  */
/* === Start Contact Me Section === */
.contact__me {
  background-color: var(--fg2-clr);
}
.contact__me .content {
  max-inline-size: 28rem;
  margin-inline: auto;
  margin-block-start: -7rem;
  padding: clamp(2rem, 8vw, 3rem);
  border-radius: var(--border-radius);
  border: 0.5rem solid var(--bg-clr);
  background-color: var(--fg-clr);
}
.contact__me .content h3,
.contact__me .content p {
  color: var(--bg-clr);
}
.contact__me .content form {
  position: relative;
}
.contact__me .content input {
  padding: 0.5rem;
  min-inline-size: 15rem;
  margin-block-start: 1rem;
}
.contact__me .content button {
  padding: 0.5rem;
  cursor: pointer;
}
.contact__me .content button[type='reset'] {
  position: absolute;
  top: 1.11rem;
  left: 13.2rem;
  border: none;
  font-weight: bold;
  visibility: hidden;
  transition: var(--transition);
  color: var(--primary-clr);
  background-color: transparent;
}
.contact__me .content input:not(:placeholder-shown) + button[type='reset']{
  visibility: visible;
}
.contact__me .content button[type='submit'] {
  font-weight: 600;
  padding: 0.5rem 0.8rem;
  color: var(--bg-clr);
  margin-block-start: 0.2rem;
  transition: var(--transition);
  border-color: var(--secondary-clr);
  background-color: var(--secondary-clr);
} 
.contact__me .content button[type='submit']:is(:hover, :focus) {
  border-color: var(--primary-clr);
  background-color: var(--primary-clr);
}
/* === End Contact Me Section === */
/* === Start Footer Section === */
footer {
  background-color: var(--fg-clr);
}
footer .container {
  text-align: center;
  text-transform: capitalize;
  padding-block: 0.8rem;
  color: var(--bg-clr);
}
footer .container :is(.heart, strong) {
  color: var(--secondary-clr);
}
/* === End Footer Section === */